#conteiner {
    background-color: gray;
    justify-content: center;
    display: grid;
}
H2 {
    color: whitesmoke;
    width: 300px;
}
#ukup{
    background-color:grey;
    height:50px;
    margin: 0;
    font-size: 50px;
    color: whitesmoke;
    margin-bottom: 20px;
}
#prih {
    background-color: greenyellow;
    height: 50px;
    margin: 0;
    font-size: 27px;
    margin-bottom: 10px;
}
#divZaPrih {
    width : 50%
}
#rash {
    background-color:red;
    height: 50px;
    margin: 0;
    font-size: 27px;
    margin-bottom: 10px;
}
span {
    font-size: 12px;
    margin-left: 30px;
    border-style: solid;
    border-color: #bb2323;
    background-color: coral;
    color: #ad0d01;
}
div#selPrRs {
    margin: auto;
    display: table;
}

#divZaPrih H3{
    color: green;
}
#bellowCon{
background-color: whitesmoke;
}

#divZaRash{
    width : 50%
}
#divZaRash H3{
    color:red;
}
div#prih-rash {
    display: -webkit-box;
}